__pycache__
dist
.idea
venv*
.venv*
.env
.env*
*.lock
.vscode
.pypirc
.pytest_cache
.ruff_cache
.mypy_cache
.coverage*
.cache
htmlcov
token
.DS_Store

# tested model configuration
tested_model_api_config.sh
tested_model_confidential.md
tested_model_non_confidential.md

# local reports
reports/*.csv
