{
    "api_version": "2024-06-01",
    "batch_size": 4,
    "list_of_GPTs": [
        {
            "api_key": "your-gpt-api-key",
            "deployment_name": "gpt-4o",
            "azure_endpoint": "gpt-endpoint"
        }
    ]
}
